[Unit]
Description=Odoo service
After=postgresql@14-main.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=shared
ExecStart=/home/shared/odoo_542_project/run_odoo.sh

[Install]
WantedBy=multi-user.target